@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);


#menu-0 .navbar-toggler {
  color: #000;
}
#msg-box2-p H2 {
  text-align: left;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}
#msg-box4-q .mbr-section-title {
  text-align: center;
  font-size: 19px;
}
#social-buttons1-j .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
